.colorful-text {
  color: white;
  font-size: 1.3em;
  padding: 10px 30px 10px 30px;
  border: 2px solid #1be7ff;
  width: fit-content;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 28px -1px rgba(76, 201, 240, 1);
  -moz-box-shadow: 0px 0px 28px -1px rgba(76, 201, 240, 1);
  box-shadow: 0px 0px 28px -1px rgba(76, 201, 240, 1);
  transition: 0.5s all;
  cursor: pointer;
  font-weight: lighter;
  display: flex;
  align-items: center;
}
.colorful-text:hover {
  -webkit-box-shadow: 0px 4px 28px -1px rgba(76, 201, 240, 1);
  -moz-box-shadow: 0px 4px 28px -1px rgba(76, 201, 240, 1);
  box-shadow: 0px 4px 28px -1px rgba(76, 201, 240, 1);
}
.icon{
    margin-right: 0.2em;
    color: #1be7ff;
}
span {
  color: #1be7ff;
  font-weight: 900;
  font-style: italic;
}
